* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
}

p {
  margin: 0;
  padding: 0;
}

.article {}

.article--main {}

.main-header {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
}

.section__header {
  text-decoration: underline;
  margin-top: 3em 0 .5em 0;
}

.blue {
  color: darkslateblue;
  font-weight: bold;
}

/* .list {
  margin-top: .1em;
} */

.list--sublist {
  margin-bottom: .5em;
}

.li--main {
  list-style-type: none;
}

.li--sublist {}

.li__a {}
